# app/views/course_evaluations/import.html.erb
<h1>Import Booth MBA Course Evaluations</h1>

<%= form_with(url: upload_course_evaluations_path, method: :post, multipart: true) do |form| %>
  <div class="field">
    <%= form.label :file, "Select CSV File" %>
    <%= form.file_field :file %>
  </div>
  
  <div class="actions">
    <%= form.submit "Upload and Import" %>
  </div>
<% end %>
